#wrap{
    width: 100%;
}
/* #main{
    width: 100%;
    height: 1080px;
    background: url(../images/main_img.png) no-repeat;
    background-size: cover;
} */
#header{
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo{

}
#nav .menu{
    display: flex;
    gap: 50px;
    
}
#nav .menu a{
    font-size: 20px;
    color: #333;
}
#info{
    transform:translateY(-10px);
}
#info .info_r{
    display: flex;
    gap: 10px;
}
#info .info_r a{
    font-size: 16px;
    color: #333;
    font-weight: 200;
}





#contents{
    width: 100%;
}

#news_room{
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    position:relative;
}
#news_room  h4{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 90px;
    margin-top:60px;
    color:#23398C;
}
#news_room .news{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#news_room .news_l{
    width: 790px;
    height: 700px;
    background: url(../images/s_newsroom_1.png) no-repeat 0 0;
     border-radius: 20px;
     position:relative;
     overflow: hidden;
}

#news_room .news_l h5{
   /* margin-top: 160px;
   margin-left: 70px; */
    /* position:absolute;
    bottom:94px;
    left:71px;
    z-index: 2; */
    margin: 480px 0 0px 70px;
    font-size: 18px;
    color: #fff;
}
#news_room .news_l span{
    margin:  0 0 0 70px;
    font-size: 18px;
    color: #fff;
}
#news_room .news_l p{
    margin-left: 70px;
    margin-top: 20px;
    z-index: 2;
    font-size: 18px;
    color: #fff;
}
#news_room .news_l #shadow{
    float: left;
    width: 790px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.2);
}

#news_room .news_l .text{
    position: absolute;
    bottom: 90px;
    left:50px;
}

#news_room .news_r{
    width: 790px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    float: left;
}

#news_room .snews_t{
    width: 790px;
    height: 337px;
    background: url(../images/s_newsroom_2.png) no-repeat 0 0;
     border-radius: 20px;
     position:relative;
}

#news_room .snews_b{
    width: 790px;
    height: 337px;
    background: url(../images/s_newsroom_3.png) no-repeat 0 0;
     border-radius: 20px;
     position:relative;
     
}

#news_room .news_r h5{
   margin-top: 160px;
   margin-left: 70px;
    /* position:absolute;
    bottom:190px;
    left:71px;
     */
    font-size: 18px;
    color: #fff;
}
#news_room .news_r span{
    margin-top: 500px;
    margin-left: 70px;
    font-size: 18px;
    color: #fff;
}
#news_room .news_r p{
    position:absolute;
    bottom:93px;
    left:71px;
    font-size: 18px;
    color: #fff;
}

#news_room .news_r #shadow{
   
    width: 790px;
    height: 337px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 20px;
}
.btn{
    width:100%;
    height:20px;
    /* background-color: pink; */
    margin:100px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn>li{
    float:left;
    margin-right: 20px;
    font-size: 25px;
    font-weight: 500;
}



#ourstory{
    margin: 0 auto;
    width: 1600px;
    font-size: 48px;
    margin-top: 183px;
}
#ourstory h4{
    color:#23398C;
}

#ourstory .menu{
    margin-top: 50px;
    color:#9C9C9C;
}

#ourstory .menu li{
    font-size: 32px;
    float:left;
    margin-right:150px;
    z-index: 3;
}
#ourstory .menu li:first-child{
    width:30px;
    height:3px;
    color: #23398C;
    z-index: 2;
}
#ourstory .small01{
    float: left;
   width:1600px; 
   height: 3px; 
   background-color: #9C9C9C;
   margin-bottom: 50px;
   
}
#ourstory .small01-1{
   width:100px; 
   height: 3px; 
   background-color: #23398C;
}

#ourstory .box{
    clear: both;
    width: 100%;
}
#ourstory .box select{
    width: 150px;
    height: 30px;
    border: 1px solid #ccc;
}
#ourstory .box button{
    width: 80px;
    height: 30px;
    border: 1px solid #ccc;
}

#ourstory .top{
    width:1600px;
    height:609px;
    /* background-color: aqua; */
    margin:50px auto;
    display: flex;
    justify-content: center;
}
#ourstory .top li img{
    width:504px;
    height:377px;
}
#ourstory .top li{
    width:504px;
    height:909px;
    /* background-color: beige; */
    margin-right: 60px;
    float:left;
    border:2px solid #ccc;
}
#ourstory .top li:last-child{
    margin-right: 0;
}

#ourstory .top li img :last-child{
    border-radius: 0px;
}
#ourstory .top li .s_ttl{
    font-size: 18px;
    margin-top: 10px;
}
#ourstory .top li h2{
    font-size: 32px;
    font-weight: 500;
    margin-top: 25px;
}
#ourstory .top li span{
    font-size: 18px;
    display: block;
    margin:74px auto;
}
#ourstory .top li .txt{
    font-size: 18px;
    line-height: 1.7;
    margin-top: 20px;
}
#ourstory .top li div{
    padding:40px;
}

/* top end */



.bottom{
    width:1600px;
    height:609px;
    /* background-color: aqua; */
    margin:170px auto;
    display: flex;
    justify-content: center;
    
    /* margin-bottom: 300px; */
}
.bottom li img{
   
    width:504px;
    height:377px;
}
.bottom li{
    width:504px;
    height:909px;
    /* background-color: beige; */
    margin-right: 60px;
    float:left;
    border:2px solid #ccc;
    margin-top: 200px;
}
.bottom li:last-child{
    margin-right: 0;
}
.bottom .s_ttl{
    font-size: 18px;
    margin-bottom: 20px;
}
#ourstory .bottom li img{
    
}
#ourstory .bottom li .s_ttl{
    font-size: 18px;
    margin-top: 10px;
}
#ourstory .bottom li h2{
    font-size: 32px;
    font-weight: 500;
}
#ourstory .bottom li span{
    font-size: 18px;
    display: block;
    margin:74px auto;
}
#ourstory .bottom li .txt{
    margin-top:23px;
    font-size: 18px;
    line-height: 1.7;
}
#ourstory .bottom li div{
    padding:40px;
}

/* bottom end */
#more{
    width:180px;
    height:50px;
    background-color: #23398C;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin:0 auto;
    border-radius: 10px;
    /* font-size: 32px; */
    font-size: 2vw;
    margin-top: 600px;
}
#contact{
    width:100%;
    height:300px;
    margin:0 auto;
}

#icon{
    /* width:907px; */
    height:300px;
    /* background-color: salmon; */
    margin:0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}
#icon li{
    text-align: center;
    margin-right: 30px;
    line-height: 300px;
    width:258px;
    height:266px;
}
#icon li:last-child{
    margin-right: 0;
}
#icon li h5{
    margin:80px auto;
    margin-bottom: 23px;
    font-size: 32px;
}
#icon li p{
    line-height: 1.2;
    margin-top: 23px;
}
/* icon end */
/* .news_room_inner h4{
    font-size: 32px;
    font-weight: bold;
    float:left;
    margin-bottom: 50px;
} */
#event{
    width:100%;
    height:1032px;
    /* background-color: salmon; */
    margin:0 auto;
    position:relative;
}
#event h4{
    font-size: 48px;
    margin-bottom: 80px; 
    margin-top: 110px;
    color:#23398C;   
}
#event h5{
    font-size: 23px;
    margin-bottom: 20px;
}
#event hr{
    width:1600px;
    height:5px;
    display: none;
}
#search{
    width:280px;
    height:40px;
    background-color: #c5c5c5;
    border-radius: 100px;
    line-height: 40px;
    position:absolute;
    right:0;
    bottom:890px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -20px;
}
#search p{
    font-size: 18px;
    float:left;
    margin-left: 10px;

}
#search div img{
    margin-top: 10px;
    line-height: 40px;
}



.list_group{
    width: 100%;
    background-color: #fff;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin:0 auto;
    position:relative;
    width: 100%;
    height:150px;
    border-top: 3px solid #000;
}

.list:first-child{
     border-top: 5px solid #000;
}
.list_group:last-child{
    border-bottom: 3px solid #000;
}
.list .list_txt{
    width: 1340px;
    padding: 0 80px;
    
}
.list .list_txt p{
    margin-bottom: 10px;
}
.list h2{
    font-size: 30px;
    margin-left: 60px;
}
.list span{
    width:300px;
    height:100px;
    margin-right: 0;
    line-height: 100px;
}
.list:last-child{
    width:1600px;
    height:5px;
    display: none;
}
#icon li{
   margin-right: 10px;
    font-size: 18px;
   line-height: 18px;
}
#icon1{
    float:left;
    margin-right: 0;
    /* background-color: pink; */
}
#icon2{
    float:right;
    margin-right: 0;
    /* background-color: yellow; */
}
.s_arrow{
    margin-top: 30px;
}

#footer .footer_top{
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#footer .footer_nav{
    margin: 0 auto;
    padding:40px 0;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#arrow .s_arrow{
    display: flex;
    justify-content: flex-end;
}
#icon1{
    font-size: 40px;
    margin-right: 30px;
}
#icon2{
    font-size: 40px;
    color: #999;
}
#footer .footer_l{
    display: flex;
    
}
#footer .footer_l li::after{
    content: "|";
    width:1px;
    height:20px;
    padding: 0 20px;

}
#footer .footer_l li:last-child::after{
    content: "";
}
#footer .footer_r{
    display: flex;
    gap: 20px;
}
#footer .footer_r li img{
    width: 24px;
    height: 24px;
}
#footer .footer_bottom{
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .footer_bottom_icon{
    display: flex;
    gap: 16px;
}
.footer_bottom_icon li:nth-child(1) img{
    width:58px;
    height:22px;
}

.footer_bottom_icon li:nth-child(2) img{
    width:36px;
    height:36px;
}

.footer_bottom_icon li:nth-child(3) img{
    width:48px;
    height: 36px;
}


@media (max-width:1600px){
    #news_room .news_l{
        /* width:788px; */
        width:49%;
        height:700px;
    }
    #news_room .news_r{
        /* width:788px; */
        width:49%;
        height:auto;
    }
    #news_room .news_l #shadow{
        float: left;
        width: 100%;
        height: 700px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    #news_room .news_r #shadow{
        width: 100%;
        height: 337px;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        border-radius: 20px;
    }

    #news_room .news_r h5{
        margin-top: 160px;
        margin-left: 5%;
        /* position:absolute;
        bottom:190px;
        left:71px;
        */
        font-size: 18px;
        color: #fff;
    }
    #news_room .news_r span{
        margin-top: 500px;
        margin-left: 5%;
        font-size: 18px;
        color: #fff;
    }
    #news_room .news_r p{
        position:absolute;
        bottom:93px;
        left:5%;
        font-size: 18px;
        color: #fff;
    }

    #news_room .snews_t{
         width: 100%;
          height:337px;
          background-color: transparent;
          overflow: hidden;
    }
    #news_room .snews_b{ 
        width: 100%;
         height:337px;
          background-color: transparent;
           background-color: transparent;
    }
    
    #ourstory{
    margin: 0 auto;
    width: 100%;
    /* font-size: 48px; */
    font-size: 3vw;
    margin-top: 183px;
    }
    #ourstory h4{
        color:#23398C;
    }

    #ourstory .menu{
        margin-top: 50px;
        color:#9C9C9C;
    }

    #ourstory .menu li{
        /* font-size: 32px; */
        font-size: 2vw;
        float:left;
        /* margin-right:150px; */
        margin-right: 9%;
        /* z-index: 3; */
    }
    #ourstory .menu li:first-child{
        width:30px;
        height:3px;
        color: #23398C;
        z-index: 2;
    }
    #ourstory .small01{
        float: left;
        width:100%; 
        height: 3px; 
        background-color: #9C9C9C;
        margin-bottom: 50px;
    
    }
    #ourstory .small01-1{
        width:100px; 
        height: 3px; 
        background-color: #23398C;
    }

    #ourstory .box{
        clear: both;
        width: 100%;
    }
    #ourstory .box select{
        width: 150px;
        height: 30px;
        border: 1px solid #ccc;
    }
    #ourstory .box button{
        width: 80px;
        height: 30px;
        border: 1px solid #ccc;
    }

    #ourstory .top{
        width:100%;
        height:609px;
        /* background-color: aqua; */
        margin:50px auto;
        display: flex;
        justify-content: center;
    }
    #ourstory .top li img{
        /* width:504px; */
        /* width:31.5vw; */
        width:100%;
        height:377px;
    }
    #ourstory .top li{
        /* width:504px; */
        width:31.5vw;
        height:909px;
        /* background-color: beige; */
        /* margin-right: 60px; */
        float:left;
        border:2px solid #ccc;
    }
    #ourstory .top li:last-child{
        margin-right: 0;
    }

    #ourstory .top li img :last-child{
        border-radius: 0px;
    }
    #ourstory .top li .s_ttl{
        /* font-size: 18px; */
        font-size: 1vw;
        margin-top: 10px;
    }
    #ourstory .top li h2{
        /* font-size: 32px; */
        font-size: 2vw;
        font-weight: 500;
        margin-top: 25px;
    }
    #ourstory .top li span{
        /* font-size: 18px; */
        font-size: 1vw;
        display: block;
        margin:74px auto;
    }
    #ourstory .top li .txt{
        /* font-size: 18px; */
        font-size: 1vw;
        line-height: 1.7;
        margin-top: 20px;
    }
    #ourstory .top li div{
        padding:40px;
    }

    #ourstory .bottom li div{
        padding:40px;
    }


    #ourstory .bottom{
        width:100%;
        height:609px;
        /* background-color: aqua; */
        margin:50px auto;
        display: flex;
        justify-content: center;
    }
    #ourstory .bottom li img{
        /* width:504px; */
        /* width:31.5vw; */
        width:100%;
        height:377px;
    }
    #ourstory .bottom li{
        /* width:504px; */
        width:31.5vw;
        height:909px;
        /* background-color: beige; */
        /* margin-right: 60px; */
        float:left;
        border:2px solid #ccc;
    }
    #ourstory .bottom li:last-child{
        margin-right: 0;
    }

    #ourstory .bottom li img :last-child{
        border-radius: 0px;
    }
    #ourstory .bottom li .s_ttl{
        /* font-size: 18px; */
        font-size: 1vw;
        margin-top: 10px;
    }
    #ourstory .bottom li h2{
        /* font-size: 32px; */
        font-size: 2vw;
        font-weight: 500;
        margin-top: 25px;
    }
    #ourstory .bottom li span{
        /* font-size: 18px; */
        font-size: 1vw;
        display: block;
        margin:74px auto;
    }
    #ourstory .bottom li .txt{
        /* font-size: 18px; */
        font-size: 1vw;
        line-height: 1.7;
        margin-top: 20px;
    }
    #ourstory .bottom li div{
        padding:40px;
    }
    /* ourstory end */





/* event start */
#event{

}
section .list_group .list{

}
#more{
    /* width:180px; */
    width:11%;
    height:50px;
    background-color: #23398C;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin:0 auto;
    border-radius: 10px;
    /* font-size: 32px; */
    font-size: 2vw;
    margin-top: 600px;
}
}